<H1>Building RawTherapee in Windows 64</H1>
12 November 2011<BR>
<BR>
<BR>
This short guide outlines setting up a development environment for building RawTherapee (64 bit) in Windows.<BR>
Apology and warning: the procedure is convoluted. Prepare for frustration if you deviate even one bit. Sorry.<BR>
<BR>
<B>Step 0:</B><BR>
Use <A HREF=http://tortoisehg.bitbucket.org/>TortoiseHg</A> to grab the latest RawTherapee, put it in a directory whose name doesn't contain spaces. This is more or less simple but well documented, please figure it out yourself.<BR>
<BR>
<B>Step 1:</B><BR>
Download the latest <A HREF=http://cmake.org/cmake/resources/software.html>CMake</A>. Install it into C:\CMake.<BR>
<BR>
<B>Step 2:</B><BR>
Download <A HREF=http://ftp.gnome.org/pub/GNOME/binaries/win64/gtkmm/2.22/gtkmm-win64-devel-2.22.0-2.exe>a rather specific version of gtkmm64</A>. Install it into C:\gtkmm64.<BR>
<BR>
<B>Step 3:</B><BR>
Download <A HREF=http://sourceforge.net/projects/tdm-gcc/files/TDM-GCC%20Installer/Previous/1.1006.0/tdm64-gcc-4.5.2.exe/download>a rather specific build of MinGW</A>. When installing, uncheck "Check for updated files...", check "Experimental (32 and 64 bit)", check the "openmp" component under Components->gcc, install into C:\MinGW64.<BR>
<BR>
<B>Step 4:</B><BR>
Download the latest <A HREF=http://www.visualbakery.com/rawtherapee/Downloads.aspx>Precompiled package for 64bit Windows</A>. Unzip the file contents (already organized into several subdirectories) into C:\MinGW64.<BR>
<BR>
<B>Step 5:</B><BR>
Download <A HREF=http://sourceforge.net/projects/mingw/files/MSYS/Base/msys-core/msys-1.0.11/MSYS-1.0.11.exe/download>a rather specific build</A> of MSYS. Install to C:\msys. At the end it asks for your MinGW directory, <u>make sure</u> you give it C:/MinGW64. That's a forward slash, and it matters.<BR>
<BR>
<B>Step 6:</B><BR>
Create a file named build.bat in your RawTherapee source directory with the following content:<BR>
<BR>
set GTKMM_BASEPATH=C:\gtkmm64<BR>
set GTKMM64_BASEPATH=C:\gtkmm64<BR>
set MINGW_BASEPATH=C:\MinGW64<BR>
set PATH=%PATH%;C:\gtkmm64\bin;C:\MinGW64\bin;C:\CMake\bin<BR>
set PKG_CONFIG_PATH=C:\MinGW64\lib\pkgconfig;c:\gtkmm64\lib\pkgconfig<BR>
<BR>
cmake  -DCMAKE_BUILD_TYPE=Release -G "MinGW Makefiles" -DPROC_TARGET_NUMBER:STRING=2<BR>
mingw32-make -j2 install<BR>
pause<BR>
<BR>
<BR>
<BR>
Running the batch file above after completing all steps properly should slowly but flawlessly build RawTherapee.<BR>
<B>If it doesn't work, <U>please</U> tell us about it at the <A HREF=http://www.rawtherapee.com/forum/viewforum.php?f=10>RawTherapee forum</A>. Maybe this document needs updating.</B><BR>
Do not rest until it builds. A complicated build sucks, but out of date or inaccurate build documentation is unacceptable.<BR>
